*.bak
*.dat
*.dir
*.pyc
*.gv
*.map
*.pyd
*.pyo
_pycache__
*.so
*.o
*.c
*.html
*.log
**/.DS_Store
*.swp
*.swo
*~


classes/*.pyc
classes/*.pyd
classes/*.pyo
classes/*.so
classes/*.o
classes/*.c
classes/*.html

Trash:History/

lib/*.pyc
lib/*.pyd
lib/*.pyo
lib/*.so
lib/*.o
lib/*.c
lib/*.html

Testcases/opendss/d23870
Testcases/opendss/d23802
Testcases/opendss/d23750

Initial_Conditions/
Amrit_results/

Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
Cython/*.c

build/
cython_debug/
output/
output/*
input/*.csv
testcase/0.57/
testcase/0.58/
testcase/0.58_Backup/
testcase/0.60/
testcase/0.61/
testcase/0.63/
testcases/.DS_Store
testcases/gridlabd/.DS_Store
.idea/
/output/OLD/
lib/GridParser/*.csv
.vscode
.history
Initial_Conditions/

*.env
forecasting/data
forecasting/results
config.py
*.pkl