/* Container to hold the network and legend side-by-side */
.network-container {
  display: flex;
  height: 450px;
  width: 100%;
}

/* Legend container */
#legendContainer {
  flex: 0 0 10%; /* Fixed width of 5% */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Optional, for better visibility */
}

/* Legend network */
#legendNetwork {
   width: 90px;
  height: 100%;
}

/* Network visualization container */
#mynetwork {
  flex: 0 0 90%; /* Fixed width of 95% */
  height: 100%; /* Fill available height */
}


#sidePanel {
    position: absolute;
    top: 480px;
    right: 20px;
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: move;
    border: solid 1px #ccc;
}


#sidePanel h4 {
    margin-bottom: 20px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

